<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"></meta>
	<title>Car Service - Szabolcs Kürti</title>
	<script type="text/javascript" th:src="@{/static/angular-1.6.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/app.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/app.css}" />
</head>
<body ng-app="mainApp">	
	<div ng-controller="CarServiceController as service">
		<h1>{{pageTitle}}</h1>
		<table>			
			<tr ng-repeat="car in service.cars">
				<td>{{car.details.manufacturer}}</td>
				<td>{{car.details.model}}</td>
				<td>{{car.details.manufactured}}</td>
				<td><button ng-click="service.load(car.id)">select</button></td>
			</tr>
		</table>		
		<div ng-if="service.selected != null">
			<h2>Car Details</h2>
			<dl>
				<dt>Model</dt>
				<dd>{{service.selected.details.manufacturer}} - {{service.selected.details.model}}</dd>
				<dt>Year</dt>
				<dd>{{service.selected.details.manufactured}}</dd>
				<dt>Color</dt>
				<dd>{{service.selected.details.color}}</dd>
			</dl>
			
			<h2>Reservation Details</h2>
			<form>
				<label for="username">Your Name</label><br/>
				<input type="text" id="username" ng-model="service.reservation.username" /><br/>
				<label>From</label><br/>
				<span>year/month/day</span>
				<select ng-model="service.reservation.fromYear" ng-options="y for y in years"></select>
				<select ng-model="service.reservation.fromMonth" ng-options="m for m in months"></select>
				<select ng-model="service.reservation.fromDay" ng-options="d for d in days"></select>
				<span> hour/minute</span>
				<select ng-model="service.reservation.fromHour" ng-options="h for h in hours"></select>
				<select ng-model="service.reservation.fromMinute" ng-options="m for m in minutes"></select>
				
				<br/>
				<label>To</label><br/>
				<span>year/month/day</span>
				<select ng-model="service.reservation.toYear" ng-options="y for y in years"></select>
				<select ng-model="service.reservation.toMonth" ng-options="m for m in months"></select>
				<select ng-model="service.reservation.toDay" ng-options="d for d in days"></select>
				<span> hour/minute</span>
				<select ng-model="service.reservation.toHour" ng-options="h for h in hours"></select>
				<select ng-model="service.reservation.toMinute" ng-options="m for m in minutes"></select>
				
				<br/>
				<label>Going where?</label><br/>
				<select ng-model="service.reservation.country">
					<option value="HU">Hungary</option>
					<option value="SK">Slovakia</option>
					<option value="US">United States</option>
					<option value="RU">Russia</option>
				</select>
				
				<br/>
				<label for="submit">Submit</label><br/>
				<button id="submit" ng-click="service.makeReservation()">Reserve</button>
			</form>
			
		</div>
	</div>
</body>
</html>